<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watsonx QA Chat Bot</title>
</head>
<body>
    <h1>Watsonx QA Chat Bot</h1>
    <form action="/answer" method="post">
        <label for="question">Enter your question:</label><br>
        <input type="text" id="question" name="question"><br><br>
        <input type="submit" value="Ask">
        <h3>
            {{response}}
        </h3>
    </form>
</body>
</html>
